h1 {
  color: red;
  text-align: center;
  text-decoration-line: underline;
}
h2 {
  color: black;
  text-align: center;
}
body {
  background: url("/HTML_Study/first/image/");
  background-repeat: no-repeat;
  background-position: 680px 200px;
}
